.user-profile-opener {
  cursor: pointer;
}

.user-profile-panel {
  display: none;
  width: 100px;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: left;
}

.user-profile-panel li {
  list-style-type: none;
}

.user-profile-panel.expanded {
  display: block;
}

#user-profile-mobile .m-flyout__container {
  display: none;
}

@media (max-width: 900px) {
  #user-profile-mobile .m-flyout--open .m-flyout__container {
    display: block;
  }
}

